/** CSS for curriculum site @ 768px**/

@media only screen and (min-width: 768px) {

	#header{
		border-bottom: 2px solid #fcba19;
	}
	#header .language-switcher{
		top: 26px;
		display:block;
	}
	.region-navigation{
		width: 100%;
		margin: auto;
		height: 48px;
		background-color: #efefef;
	}
	.curriculum-grade-level{
		width: 600px;
		margin:auto;
	}
	.i18n-fr h1#site-name {
		font-size:25px;
	}
	.language-switcher-locale-url li.fr{
		padding-left:5px;
	}
	/*
	div#grade_picker {
    	height:80px;
		text-align:center;
		padding-bottom:40px;
		background-color:#1B1F28;
	}

	div#grade_picker ul{
		margin: auto;
		display:inline-block;
		text-align:initial;
	}
     */
	.view-display-id-curriculum_megamenu .gradepicker-subject{
		border-bottom: 1pt solid #e2e2e2 !important;
		color:#333 !important;

	}
	.view-display-id-curriculum_megamenu .arts-education-subject{
		line-height:2 !important;
	}
	 /* Show megamenu in menu navigation and hide default dropdown*/
	 #menu-440-1{
		display:none;
	 }
	 #menu-3057-1{
		display:block;
	 }
	#menu-3064-1 a::before, #menu-3063-1 a::before, #menu-2037-1 a::before, #menu-3528-1 a::before, #menu-3529-1 a::before,
	#menu-3530-1 a::before, #menu-3531-1 a::before, #menu-3532-1 a::before	{
		position:absolute;
		left: 20px;
		content: "•";
	}



	.page-curriculum-grade #grade_picker{
		background-color: #1B1F28;
		padding-left: 0%;
		padding-right:1%;
		width:104%;
		margin: -35px 0 -0% -2%;
	}
	.big-idea-item div {
		display: table;
		height: 13.5em;
		width: 13.5em;
	}
	.big-idea-item div div {
		position:static;
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	/*height:10.5em;*/
	/*margin:.75em;*/
	/*padding:.75em;*/
		font-size:.83em;
		line-height:1.3em;
		height:auto;
		width:13.5em;
		padding:0 25px 0 25px;
		background:none;
	}
	.big-idea-item {
		/* float: left; */
		/* width: 12em; */
		/* height: 12em; */
		/* margin: 1.25em; */
		float: left;
		width: 13.5em;
		height: 13.5em;
		background: url(/sites/curriculum.gov.bc.ca/files/pdf/curric_big_idea_bg_0_0.png) no-repeat left top;
		/* background: url('../../../../../../curriculum.gov.bc.ca/sites/curriculum.gov.bc.ca/files/pdf/curric_big_idea_bg_0.png') no-repeat left top; */
		margin: .75em .25em;
		padding: .25em;
		border-bottom: none;
	}

	#featured{
		width: 100%;
		margin:auto;
	}
	#featured h2{
		padding-top:130px;
	}
	#featured .row_1{
		background-size: 100%;
		height:200px;

	}

	#assessment_feature .row_gears{
		background-size:100%;
	}


	.page-curriculum .view-display-id-attachment_2{
		width: 57.25%;
		padding-left: 2%;
		padding-right: 0.75%;

	}
	.page-curriculum .view-display-id-attachment_2 .view-content{
		width: 94%;
		padding: 3%;
	}
	.page-curriculum .view-display-id-attachment_3{
		width: 37.25%;
		padding-left: 0.75%;
		padding-right: 2%;
	}
	.page-curriculum .view-display-id-attachment_3 .view-content{
		width: 94%;
		padding: 3%;
	}
	h1.curric_subject, .page-curriculum-grade h1#page-title, .page-curriculum h1#page-title{
		width: 100%;
		float:left;
		display:inline; /*overide h1 as a display:block*/
		text-align:center;
		padding: 70px 0 0 0;
		color: #fff;
		background-color: #1B1F28;
		line-height:none;
		margin-top:0px !important;

	}
	div#core_competency_subject{
		width:100%;
	}
	div#core_competency_subject ul{
		width:450px;
		float:right;
	}
	div.area-of-learning.views-row-odd{
		margin-right: 0.3%;
	}
	#menu-2905-1 er{
		border-bottom: 1pt dotted #ccc;
		float:left;
		clear:both;
		width:100%;

	}


	#menu-3057-1 .area-of-learning{
		box-sizing: border-box;
	}
	#menu-3057-1 .view-display-id-curriculum_megamenu .view-header{
		padding-top:45px;
		float:left;
		width: 25%;
	}
	#menu-3057-1 .view-display-id-curriculum_megamenu .view-content{
		padding-top:45px;
		float:left;
		width: 72% !important;
	}
	#menu-3057-1 .view-display-id-curriculum_megamenu .view-footer{
		padding-top:30px;
		float:left;
		width: 2% !important;
	}
	.view-display-id-curriculum_megamenu{
		max-width:1300px;
		margin: auto;
	}
	.view-display-id-curriculum_megamenu .area-of-learning a:first-child{
		width:100%;
	}

	.block-views.megamenu div.area-of-learning{
		width:48.85% !important;
	}
	div.area-of-learning {
		float:left;
		height:7.75em;
		width:45.85%;
		background-color:#fff;
		margin-bottom:0.3%;
		position:relative;
	}
	div.area-of-learning a{
		float:left;
		width: auto;
		padding: 8px !important;

	}
	.view-display-id-attachment_4 .view-content div + div{
		border-left: 1pt solid #ccc;

	}
	#graduation_feature .row_1{
		background-size: 100%;
		height: 200px;

	}
	#featured .row_1 h2{
		padding-top:130px;
		background-size:100%;
	}

	.fsa-box-div{
		float: left;
		clear:right;
	}
	.fsa_box{
		width: 48%;
		float: left;
		border-style: dotted;
		border-width: 1px;
		border-color: grey;
		padding: 2%;
		min-height: 480px;
		margin: 1%;
		box-sizing: border-box;

	}
	.fsa-box-div .fsa_box:first-child{
		margin-right:1.5%;
		margin-bottom:15px;

	}
	.curriculum-directory.search-active > .view-content{
		float:left !important;
		column-count:1 !important;
		column-gap:25px !important;
		padding: 2% !important;
		width:96% !important;
	}
	.curriculum-directory > .view-content{
		float:left;
		column-count:1;
		column-gap:25px;
		margin-top:0px !important;
		padding: 2%;
		width:96%;
		background-color:white;
		min-height:300px;
	}

	.view-display-id-list_all_courses_by_grade .view-display-id-attachment_5 .grade-picker{
		top: -60px !important;
	}
	/* Homepage Slider Medium Breakpoint*/

	.page-home #featured {
		clear:both;
	}
	.page-home #featured div.section  {
	max-width: none !important;
	}

	#block-views-announcements-block {
		float:left;
		width:70%;
		position:relative;
		z-index:10;
		margin-top: -25px;
	}
	.fast-links{
		width: 28%;
		margin-left: 2%;
		position: relative;
		z-index: 99;
		left: 0;
		margin-top: 25px;
	}
	#block-views-homepage-slideshow-block h2{
		visibility:hidden;
		display:none;
	}

	.page-home #featured .section {
		width:100%;
		max-width: 100%;
		/*margin:0;*/
		/*padding:0;*/
	}
	.page-home #content .view-id-announcements{
		width:97%;
		z-index: 10;
	}


	.views-field.views-field-field-slide-image {
		display: block;
		visibility: visible;
	}
	.views_slideshow_slide {
		width:100% !important;
	}
	#views_slideshow_cycle_main_homepage_slideshow-block{
		margin-top: 0;
		background-color: rgba(0, 51, 102, 0.8);
	}
	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-field-slide-image .field-content img 	{
		width: 150%;
		height: auto;
		position: absolute;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .left-slide .views-field-body .field-content{
		float:left;
	}
	#views_slideshow_cycle_main_homepage_slideshow-block .right-slide .views-field-body .field-content{
		float:right;
	}
	#views_slideshow_cycle_main_homepage_slideshow-block .right-slide .views-field-body .field-content .body-content{
		background-color: rgba(0, 51, 102, 0.8);
		padding: 20px;
	}


	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-title {
		font-size: 26px;
	}
	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body {
		max-width:1170px;
		margin:auto;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-title .field-content{
		padding: 20px 20px 0px 20px;

	}
	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content{
		padding: 0px 20px 20px 20px;
		width: 600px;
		margin:auto;
	}
	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content .body-content{
		background-color: rgba(0, 51, 102, 0.8);
		padding:20px;
		position:relative;
		margin-left:40px;
		margin-right:40px;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.languages {
		font-size:14px;
		display: block;
		float: left;
		margin-top:10px;
		line-height: 1.8;
		color: #fff;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.languages a {
			padding: 0px 10px 0px 0px;
			color: #fff;
			text-decoration: underline;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.languages a:hover {
		color: rgba(255, 255, 255, 0.8);
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.languages a + a {
			border-left: 1px solid #777;
			padding: 0px 0px 0px 10px;

	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.learn-more {
		font-size:16px;
		display: block;
		float: right;
		margin-top:10px;
		color: #fff;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.learn-more a{
		color: #fff;
		text-decoration: underline;
	}

	#views_slideshow_cycle_main_homepage_slideshow-block .views-field-body .field-content span.learn-more a:hover{
		color: rgba(255, 255, 255, 0.8);
	}

#block-views-curriculum-finder-block-1 h2{
	height: auto !important;
}

	.views-slideshow-controls-bottom {
		width: 99%;
		margin: 0 auto 0 auto;
		position:absolute;
		z-index: 12 !important;
		height:100px;
		background-color:none;
		top:0;
		clear:both;
		padding-right:0%;

	}

	#views_slideshow_controls_text_homepage_slideshow-block {
		width:100%;
	}
	#views_slideshow_controls_text_previous_homepage_slideshow-block{

		left: 0;

	}
	#views_slideshow_controls_text_next_homepage_slideshow-block{


		right:60px;
	}
	#views_slideshow_controls_text_previous_homepage_slideshow-block a{
		display:block;
		background-image: url(/sites/curriculum.gov.bc.ca/themes/curriculum/images/left_slider_arrow.png);
		width: 0px;
		height: 0px;
		padding-left: 26px;
		padding-top: 51px;
		overflow: hidden;
		position: absolute;
		top: 100px;
		left:10px;
	}

	#views_slideshow_controls_text_pause_homepage_slideshow-block {
		display:none;
		visibility: hidden;
	}

	#views_slideshow_controls_text_next_homepage_slideshow-block a{
		display:block;
		background-image: url(/sites/curriculum.gov.bc.ca/themes/curriculum/images/right_slider_arrow.png);
		width: 0px;
		height: 0px;
		padding-left: 26px;
		padding-top: 51px;
		overflow: hidden;
		position: absolute;
		top: 100px;
		right:0;
	}
	.view-curriculum-finder .view-footer .col-3{
		min-height: 50px;
	}
	/* Subject Landing Pages with 3 cols*/
	.page-curriculum-english-language-arts.subject-landing-page .curriculum-directory > .view-content,
	.page-curriculum-physical-health-education.subject-landing-page .curriculum-directory > .view-content,
	.page-curriculum-social-studies.subject-landing-page .curriculum-directory > .view-content,
	.page-curriculum-science.subject-landing-page .curriculum-directory > .view-content,
	.page-curriculum-mathematics.subject-landing-page .curriculum-directory > .view-content
	{
			column-count: 1 !important;
	}
	/*Illustration Styles*/
	.group-context{
		float:left;
		width:72%;
		margin-left:3%;
	}
	.profiles.count-1 .profile-analysis{
		width:100%;
		padding:2%;
		float: left;
		display: block;
		border: 1px solid #ccc;


	}
	.profiles.count-2 .profile-analysis{
		width:44%;
		padding:2%;
		float: left;
		display: block;
		border: 1px solid #ccc;


	}
	.profiles.count-3 .profile-analysis, .profiles.count-4 .profile-analysis{
		width:27%;
		padding:2%;
		float: left;
		display: block;
		border: 1px solid #ccc;
	}
	.profiles.count-1 .profile-analysis .profile_number{
		text-align:left;
	}
	/* Illustration Elements*/
	.node-illustration .group-illustration-elements{

		float: left;
		border: 1px solid #ccc;
		width: 22%;
		margin-top: 19px;
		padding: 10px;
	}
	/* Search Illustrations */
	#views-exposed-form-illustrations-page{
		width:25%;
		float:left;
		background: #fff !important;
		color: #333;
		border: 1px solid #ccc;
	}
	.page-search-illustrations #block-system-main{
		width:72%;
		float:left;
		padding-left:10px;
	}
	.page-competencies-search #block-system-main{
		width:70%;
		float:left;
	}
	.field-type-taxonomy-term-reference ul.links li {
    	white-space: pre-wrap;
	}
	.node-type-illustration .field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference ul.links {
		margin-top: 32px;
		margin-bottom: -14px;
	}
	.page-curriculm-competency .field-name-body div > ul{
		padding-bottom:10px;

	}
	.page-curriculm-competency .field-name-body div > ul > li.c, .page-curriculm-competency .field-name-body div > ul > li.t, .page-curriculm-competency .field-name-body div > ul > li.ps {
		width:30%;
		float:left;

	}

	/*.page-curriculm-competency .field-name-body div > ul.elements > li.fac, .page-curriculm-competency .field-name-body div > ul.elements > li.pro, .page-curriculm-competency .field-name-body div > ul.elements > li.ill {
		float:left;
		width:30%;

	}

.page-curriculm-competency .field-name-body div > ul.elements > li.fac p, .page-curriculm-competency .field-name-body div > ul.elements > li.pro p, .page-curriculm-competency .field-name-body div > ul.elements > li.ill p {
	padding:2%;
}*/
	/*.page-curriculm-competency .field-name-body li + li{
		padding: 2%;
	}*/
	

	.elements {
		clear: both;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}
	.element1 { /* 1 - 3 for three columns */
		float: left;
		width: 32%;
	}
	.element2 {
		float: left;
		margin-left: 25px;
		width: 32%;
	}
	.element3 {
		float: right;
		width: 32%;
	}

	.elements-twoCol {
		clear: both;
		width: 100%;
	}
	.element5{
		width: 45%;
		float: left;
	}
	.element6{
		margin-left: 50%;
		width:45%;
	}

	.page-node #block-system-main .content .elements-twoCol h3{
		margin: 0;
		padding: 10px 0;
	}
}
